* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
    font-weight: 800;
}

.site-title {
    font-weight: 700;
    font-size: x-large;
}

.nav {
    display: flex;
    background-color: #772e2e;
    color: white;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 5rem;
    padding-block: 1rem;
    text-transform: uppercase;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    opacity: 1;
    transition: 0.5s;
}

.nav a:hover {
    color: #c2c2c2;
}

.hero {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15rem;
    background-color: #282828;
}

.hero h1 {
    color: inherit;
    font-size: 4rem;
    line-height: 0rem;
}

.projectsRoot {
    padding: 10rem;
    padding-top: 2rem;
}

.projectsRoot h1 {
    text-align: center;
    font-size: 3rem;
}

.projects {
    display: flex;
    width: 100%;
    line-height: 0rem;
    justify-content: center;
}


.project {
    border-radius: 1.5rem;
    margin: 3rem;
    background-color: white;
    box-shadow: 0 3rem 4.5rem 1rem rgb(149, 149, 149);
}

.project img {
    border-radius: 1.5rem;
    object-fit: fill;
    width: 25rem;
    height: 14rem;
    object-fit: cover;
}

.project h2 {
    color: #d42020;
    font-size: 1.3rem;
}

.project p {
    font-size: 0.7rem;
}

.info {
    text-align: center;
    margin: 2.3rem;
}

